DJANGO_SECRET_KEY=fill in.
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

DB_NAME=event_box
DB_USER=event_box
DB_PASSWORD=event_box
DB_HOST=127.0.0.1
DB_PORT=5432

REDIS_URL=redis://127.0.0.1:6379/0

YOOKASSA_SHOP_ID=fill in.
YOOKASSA_SECRET_KEY=fill in.
YOOKASSA_RETURN_URL=http://localhost:5173/payment/success

CELERY_BROKER_URL=redis://127.0.0.1:6379/0
CELERY_RESULT_BACKEND=redis://127.0.0.1:6379/1

CELERY_TASK_ALWAYS_EAGER=0
PENDING_PAYMENT_EXPIRE_MINUTES=20