DJANGO_SECRET_KEY=fill in.
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

DB_NAME=event_box
DB_USER=event_box
DB_PASSWORD=event_box
DB_HOST=127.0.0.1
DB_PORT=5432

REDIS_URL=redis://127.0.0.1:6379/0

YOOKASSA_SHOP_ID=fill in.
YOOKASSA_SECRET_KEY=fill in.
YOOKASSA_RETURN_URL=http://127.0.0.1:8000/payments/return/